<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
    <h3>THE CURRENT BUS IS {{ currentbus }}</h3>
    <p> THE DIRECTION IS {{ currentdirection }}</p>



</body>
</html>